
body {
height: 100vh;
}

h3 {
text-align: center;
}

table.summaryTable th {
text-align: left !important;
font-size: 12px !important;
}

table.summaryTable td {
border: 0px;
}

table.summaryTable th {
border: 0px;
}

.board-tile-content-container {
width: 200px;
background-color: #F4F3F3;
}

.clickable-title {
display: inline;
white-space: pre-wrap;
}

.title-ellipsis {
overflow: hidden;
display: inline;
text-overflow: ellipsis;
}

.board-tile-content {
position: relative;
margin: 4px 6px 6px 6px;
overflow: hidden;
line-height: 16px;
padding-bottom: 5px;
padding-top: 5px;
border: 1px solid transparent;
}

.task {
/* height: 100px;
width: 150px; 
margin: 10px;*/
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
vertical-align: middle;
border: 2px solid #b3d6f2;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 1px 6px 20px -2px rgba(0, 0, 0, 0.19);
}

.ignoreItem {
background: pink !important;
}

#mainbody {
width: 100%;
height: 100%;
border: 0.5px solid #b3d6f2;
}

.bottom {
border-bottom: 2px solid black;
}

th,
td {
border-top: 0.5px solid grey;
border-bottom: 0.5px solid grey;
border-right: 0.5px solid grey;
min-width: 16.7%;
}

.dependency-tracker-content {
flex: auto;
margin: 0 10px;
display: flex;
flex-direction: column;
}

.dependency-tracker-content-header {
flex: none;
display: inherit;
padding-top:10px;
}

.dependency-content {
flex: auto;
display: flex;
flex-direction: column;
padding-top:10px;
}

.dependency-graph-container {
flex: 1 1 0;
position: relative;
}

.dependency-grid-header {
display: flex;
height: 38px;
align-items: center;
z-index: 999999999;
border-bottom: 1px solid burlywood;
background-color: white
}

.dependency-grid {
position: relative;
flex: 1 1 0;
z-index: 999;
overflow-y: auto;
background-color: white
}

.hub-view {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

.hub-content {
top: 0px !important;
display: flex;
flex-direction: column;
}

.graph-wrapper {
overflow-y: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.dependency-tracker-content-header {
background-color: white;
z-index: 9999999999;
}

.grid-row {
top: 20px;
left: 0px;
height: 30px;
}

.grid-cell {
width: 50%;
}

.summaryTable {
width: 100%;
}

.summaryTable tr {
height: 40px;
}

.select2-selection--single{
    height:32px !important;
    border-radius: 0px !important;
}

.select2 {
    margin-left: 10px;
}

#messageContainer{
    vertical-align: bottom;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    height: 500px;
}

#displayNotMessage{
    vertical-align: middle;
    line-height: 400px;
    text-align: center;
}

#bannerText{
    font: caption;
    background-color:#F4F3F3;
    margin-left: 10px;
    padding: 10px;
    color:#333;
    font-weight: 600 !important;
    font-size: 14px !important;
}