registry=https://skype.pkgs.visualstudio.com/_packaging/csc/npm/registry/
//skype.pkgs.visualstudio.com/_packaging/csc/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhMTUwMDM5Yi01ZWQ0LTZkNGQtYTAzMy1mMzVmOTMyOGU3YmEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiN2M1N2QwOWQtZTZkYy00YzdjLWIwZTMtYWRiZDViZWViMTBjIiwic2lkIjoiYjRhZmMzNDAtNDExOC00YzNkLTgxNDctMjkwNWJmM2U1YWViIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286MmNlNjQ4NmUtN2QzYi00N2JiLThlMTYtNWYxOWE0MzAxNWM5IiwibmJmIjoxNTQyNzgyNzcxLCJleHAiOjE1NTA1NTkzNzF9.XftQ6exlgtp5TgTNWwCpKk96B6b9x9-HZxp8S4Wt1R5HilMRzqnWOJ4TooFn84--ZhKG1a8yyYar8JhO0lkm4GZg6mXNMEcDH_6dfDX3iv9fm8WMN-iVMbJYVDTcFh1ZI5PYZwLDlq_KBWlhPxAvYoiEzjOO-da9s1ZcL5SValeJ0sg0BGxVDCNE1aQkwb9SvJN_vjVEY6xN8hHI0XYa5BdClEROCbzilJZbTxpzBhYsjea4HlkxIYsOamvzqOBzZUOrh8_ki5j_-bmOVrE9i-eU_-5fo_7lHpH1BmWSoEQbMprUR9EACdSlVSp0NnQ7QfleRvcNm5iC6zy2rX6LPw